
/****************** GENERAL STYLING ******************/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/****************** MAIN STYLING ******************/
main{
  background-color: #C3D7E0;
}

/****************** NAVBAR STYLING ******************/
.nav-icons{
  color: white;
  width: 36px;
  height: 36px;
}

.navbar{
  background-color: #18273E !important;
}
/*NAV BAR BRAND */
.navbar-brand{
  font-size: 2rem;
  font-weight: 500;
  color: rgb(56,99,129);
  text-transform: uppercase;
  /*CHANGE FONT FAMILY*/
}

.navbar-brand:hover{
  color: black;
}

/* NAV BAR LINKS */
/* NAV BAR LINKS */
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: white !important;
  font-weight: 500;
  text-transform: uppercase;
  /* CHANGE FONT FAMILY */
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FDD786;
  transition: all 0.3s ease-in-out;
  color: black !important;
}

.nav-link:hover::before,
.current-nav::before {
  width: 100%;
  color: black !important;
}

.navbar-toggler{
  background-color: #FDD786 !important;
  border-width: 2px;
  border-color: #FDD786;
  color: orange;
}

.navbar-toggler:active{
  border-color: #FDD786;
}



/****************** FOOTER STYLING ******************/
  footer {
    background-color: #18273E !important; /* Replace with your desired color */
    color: white !important; /* Replace with your desired text color */
  }

  .footer{
    background-color: #18273E;
  }





/****************** BUTTONS ******************/

.btn0{
  height: 40px;
  width: 80%;
  outline: none;
  border: none;
  background: rgb(56,99,129);
  color: white;
  border-radius: 60px;
  font-weight: 700;
   /*CHANGE FONT FAMILY*/
  text-decoration: none;
}

.btn0:hover{
  background-color: rgb(108,150,182);
}

.btn1{
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: rgb(56,99,129);
  color: white;
  font-weight: 700;
  border-radius: 60px;
}

.btn1:hover{
  background-color: rgb(108,150,182);
  transition: 0.5s;
}

.btn1, .select-institution{
  width: 20% !important;
}

.form-select-lg{
  height: 45px;
  width: 50%;
  border-radius: 60px;
}


/****************** STYLING FOR INDEX PAGE ******************/
.cover{
  /* COVER BACKGROUND INDEX */

  /*'URL' TO GET BACKGROUND IMAGE*/

  background: url(assets/matese-fields-pvHma684eEI-unsplash.jpg);

  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
}

.cover h1{
  font-size: 4rem;
  font-weight: 700;
  color: #18273E !important;
}

.index-action{
  background-color: #C3D7E0 !important;
}


  
/****************** STYLING FOR BROWSE CLUB PAGE ******************/
.club-card {
  background-image: url('assets/guilherme-maggieri-OH5g9IgcMWs-unsplash.jpg'); /* Replace 'assets/generic-club-image.jpg' with your generic image path */
  background-size: cover;
  background-position: center;
}

/* ICONS */

.mission-title{
  padding-bottom: 0 !important;
}
.mission{
  padding-top: 0 !important;
}

.ri-group-fill, 
.ri-school-fill,
.ri-landscape-fill,
.ri-time-fill, 
.ri-mac-fill, 
.ri-shirt-fill
{
  color: rgb(56,99,129);
}

.h1{
  font-weight: 700;
}

.product{
  background: gainsboro;
}

.card:hover{

  /*  
  shadow effect behind
  use box shadow generator to adjust/change css
  */
  -webkit-box-shadow: 10px 10px 16px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 16px 4px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 16px 4px rgba(0,0,0,0.75);
  transition: 0.5s;
}

.assessment{
  background-color: gainsboro;
}


.club-suggestion{
  background-color: gainsboro;
}

.about-title{
  color: black;
}


.main-assessment{
  background-color: gainsboro !important;
}




/****************** STYLING FOR BROWSE CLUB PAGE ******************/
.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}

.team-head-text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.team-head-text {
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.team-container {
  max-width: 1380px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.team-card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
}

.team-card-container {
  width: 280px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.name {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 800;
}

.position {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.social-icons, .linkedin-icon {
  width: 25px;
  justify-content: space-between;
  padding-bottom: 5px;
}

.ri-linkedin-box-fill{
  color: rgb(56,99,129);
  text-decoration: none !important;
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.team-member-image {
  max-width: 100%;
}

@media (max-width: 500px) {
  .card-container {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}



/****************** STYLING FOR LOG IN PAGE ******************/
.mb-2 .form-floating .email{
  text-transform: uppercase;
}
